.bg-pattern{
  background-image: url("../../img/pattern/travel-pattern-2-20.png");
  background-color: rgba(255,255,255, 0,5);
}

.bg-hero-hotel{
  background-image: url("../../img/hotel/hotel-1.jpg");
  background-color: rgba(255,255,255, 0,5);
}

.bg-hero-travel{
  background-image: url("../../img/travel/bg-hero-travel.jpg");
  background-color: rgba(255,255,255, 0,5);
}

.bg-hero-merchant{
  background-image: url("../../img/merchant/bg-hero-merchant.jpg");
  background-color: rgba(255,255,255, 0,5);
}

.bg-article-hotel {
  background-image: url("../../img/hotel/hotel-2.jpg");
  background-color: rgba(255,255,255, 0,5);
}


.button {
  font-size: 18px;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(90, 136, 119, 0.5);
  background-color: #047857;
  color: white;
  width: auto;
}

.button-small {
  font-size: 12px;
  padding: 14px 18px;
}

.button-large {
  font-size: 20px;
  padding: 28px 56px;
}

.button-full {
  width: 100%; /* lebar mengikuti kontainer */
}
